<div class="container">
  <h1 class="h1">Dynamic Row Table</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col" class="text-center">#</th>
        <th scope="col" class="text-center">Currency From</th>
        <th scope="col" class="text-center">Currency To</th>
        <th scope="col" class="text-center">Current Hour TR Rate</th>
        <th scope="col" class="text-center">Low / Hi cost</th>
        <th scope="col" class="text-center">WACC</th>
        <th scope="col" class="text-center">Breakeven</th>
        <th scope="col" class="text-center">Rules</th>
        <th scope="col" class="text-center">Competitor</th>
        <th scope="col" class="text-center">Prev. Rate</th>
        <th scope="col" class="text-center">Quoted Rate</th>
        <th scope="col" class="text-center">Status</th>
      </tr>
    </thead>
    <tbody
      [formGroup]="mainForm"
      cdkDropList
      (cdkDropListDropped)="onRowDropped($event)"
    >
      <ng-container formArrayName="dynamicRowList">
        <tr
          *ngFor="let rowData of dynamicRowList.controls; let i = index"
          cdkDrag
          cdkDragLockAxis="y"
        >
          <th class="col-xs">
            <div class="drag-handle">
              <ng-container [ngTemplateOutlet]="dragHandleTmpl"> </ng-container>
              {{ rowData.value.rowNo }}
            </div>
          </th>
          <td class="col-xl">
            <!-- CURRENCY -->
            USD
            <!-- <dl class="row">
              <dt class="col-sm-6">Currency From:</dt>
              <dd class="col-sm-6">USD</dd>
              <dt class="col-sm-6">Currency To:</dt>
              <dd class="col-sm-6">USD</dd>
              <dt class="col-sm-6">Current Hour TR Rate:</dt>
              <dd class="col-sm-6">4.20010100 | 18/04/2022 09:00:00 AM</dd>
            </dl> -->
          </td>
          <td class="col-md">MYR</td>
          <td class="col-md">4.20010100 | 18/04/2022 09:00:00 AM</td>
          <td class="col-md">
            4.20010100 +2.5315%
            <br />
            <br />
            <br />
            <br />
            <br />
            4.20010100 +2.5315%
          </td>
          <td class="col-md">4.20010100 +2.5315%</td>
          <td class="col-md">4.20010100 +2.5315%</td>
          <td class="col-xl align-middle">
            <button class="btn btn-danger mb-2">Compare to TR</button>
            <button class="btn btn-danger mb-2">Compare to WACC</button>
            <button class="btn btn-danger mb-2">Initialize Price</button>
          </td>
          <td class="col-md">Merchant Trade: 426</td>
          <td class="col-md">4.1000000</td>
          <td class="col-md">4.1000000</td>
          <td class="col-md">
            <span>Active</span>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>

<ng-template #dragHandleTmpl>
  <svg
    class="bi bi-list handle"
    width="1em"
    height="1em"
    viewBox="0 0 16 16"
    fill="currentColor"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      d="M2.5 11.5A.5.5 0 013 11h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5zm0-4A.5.5 0 013 7h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5zm0-4A.5.5 0 013 3h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5z"
      clip-rule="evenodd"
    />
  </svg>
</ng-template>
