<div class="container">
  <h1 class="h1">Dynamic Row Table</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <ng-container
        [formGroup]="mainForm"
        cdkDropList
        (cdkDropListDropped)="onRowDropped($event)"
      >
        <!-- when using form array, it need to be nested inside form group to be able to access through template using formArrayName -->
        <ng-container
          formArrayName="dynamicRowList"
          *ngFor="let rowData of dynamicRowList.value; let i = index"
        >
          <!-- form group name is the index per each iteration -->
          <tr [formGroupName]="i" cdkDrag>
            {{
              rowData | json
            }}
            test
            <th scope="row">{{ rowData.rowNo }}</th>
            <td>{{ rowData.first }}</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
        </ng-container>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
