<div class="container">
  <h1 class="h1">Dynamic Row Table</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody
      [formGroup]="mainForm"
      cdkDropList
      (cdkDropListDropped)="onRowDropped($event)"
    >
      <!-- when using form array, it need to be nested inside form group to be able to access through template using formArrayName -->
      <ng-container
        formArrayName="dynamicRowList"
        *ngFor="let rowData of dynamicRowList.controls; let i = index"
      >
        <!-- {{ rowData | json }} -->
        <!-- form group name is the index per each iteration -->
        <tr cdkDragLockAxis="y" class="draggable" cdkDrag [formGroupName]="i">
          <th scope="row">{{ rowData.value.rowNo }}</th>
          <td scope="row">{{ rowData.value.first }}</td>
          <td>{{ rowData.value.last }}</td>
          <td>{{ rowData.value.handle }}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
