<div class="container">
  <div class="container">
    <h1 class="mb-5 pb-5">Add New Currency Pair</h1>

    <div>
      <table class="table">
        <thead>
          <th>Currency From</th>
          <th>Currency To</th>
          <th>Forex Base Package</th>
          <th>Action</th>
        </thead>
        <tbody>
          <tr>
            <td>
              <select name="cars" id="cars">
                <option value="volvo">USD</option>
                <option value="saab">MYR</option>
                <option value="mercedes">EUR</option>
              </select>
            </td>
            <td>
              <select name="cars" id="cars">
                <option value="volvo">USD</option>
                <option value="saab">MYR</option>
                <option value="mercedes">EUR</option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="align-bottom">
      <button class="btn btn-primary" (click)="backClicked()">back</button>
    </div>
  </div>
</div>
